<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WDI Contacts</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <h1><a href="/">WDI Contacts</a></h1>
    {{{body}}}
  </body>
</html>
