<h2>{{students.length}} Students</h2>
{{#each students as |student index|}}
<h3>
  <a href="/students/{{student.name}}">{{student.name}}</a>
</h3>
{{/each}}

<form action="/students" method="post">
  <input type="text" name="student[name]" placeholder="Name" />
  <input type="text" name="student[phone]" placeholder="Phone" />
  <input type="text" name="student[email]" placeholder="Email" />
  <button type="submit">Add Contact</button>
</form>
